<div class="login-box">
    <div class="login-logo">
        <a><b>后台管理</b>系统</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">请先登录</p>
        <form  class="login-form" ng-controller="home-loginCtrl" method="post">
            <div class="form-group has-feedback">
                <input type="text" name="username" ng-model="username" class="form-control" placeholder="请填写用户名">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <span ng-repeat="msg in msgs.uname">{{msg}}</span>
            <span ng-repeat="msg in msgs.email">{{msg}}</span>
            <span ng-repeat="msg in msgs.mobile_phone">{{msg}}</span>
            <div class="form-group has-feedback">
                <input type="password" name="password" ng-model="password" class="form-control" placeholder="请输入密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <span ng-repeat="msg in msgs.password">{{msg}}</span>
            <div class="form-group has-feedback">
                <input type="text" name="verify" class="form-control" placeholder="请填写验证码"  autocomplete="off">
                <span class="glyphicon glyphicon-refresh form-control-feedback" title="换一张"></span>
                <img class="verifyimg reloadverify" alt="点击切换" src="/home/auth/captcha">
                <a class="reloadverify" title="换一张" href="javascript:void(0)">换一张？</a>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" class="ts-icheck" name="remember" value="1"> 记住登录
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" ng-click="login()"  class="btn btn-primary btn-block btn-flat">登录</button>
                </div><!-- /.col -->
            </div>
        </form>
        <div class="signup-or-separator">
            <h6 class="text">其它登录方式</h6>
            <hr>
        </div>
        <button class="btn btn-block btn-github" ng-click="authenticate('github')">
            <i class="ion-social-github"></i> Sign in with GitHub
        </button>
    </div>
</div>

