<div class="skin-blue sidebar-mini" ng-class="{'sidebar-collapse':left_hidden}">
    <div class="wrapper">
        <div ng-include="'/http/admin/public/header.html'"></div>
        <div ng-include="'/http/admin/public/left.html'"></div>
        <div class="content-wrapper">
            <div ng-include="'/http/admin/public/nav.html'"></div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border" style="text-align: center">
                                <h1>欢迎使用接口测试工具</h1>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12" ng-controller="admin-apiCtrl">
                                        选择接口分类:
                                        <select ng-repeat="i in selectlength" ng-if="select[i-0+1]" ng-model="select[i]" ng-change="initselect()">
                                            <option ng-repeat="x in api"
                                                    ng-if="((i==0) && x.level==api[select[i]].level && x.parent_id==api[select[i]].parent_id) ||
                                                    (x.level==(api[select[i-1]].level-0+1) && x.parent_id==api[select[i-1]].id)"
                                                    value="id_{{x.id}}">{{x.name}}</option>
                                        </select>
                                        　　接口选择:
                                        <select  ng-model="select[select.length-1]" ng-change="initselect()">
                                            <option ng-repeat="x in api"
                                                    ng-if="(x.level==(api[select[select.length-2]].level-0+1) && x.parent_id==api[select[select.length-2]].id)
                                                    || (select.length==1 && x.level==2)"
                                                    value="id_{{x.id}}">{{x.name}}</option>
                                        </select>
                                        <table class="table table-hover table-bordered">
                                                <tr>
                                                    <th>选项</th>
                                                    <th colspan="2">内容</th>
                                                    <th>说明</th>
                                                </tr>
                                                <tr>
                                                    <td>API请求地址</td>
                                                    <td>{{api[select[select.length-1]].url}}</td>
                                                    <td>
                                                        提交类型:
                                                        <input type="radio" value="1" ng-model="api[select[select.length-1]].method">GET
                                                        <input type="radio" value="2"  ng-model="api[select[select.length-1]].method">POST
                                                    </td>
                                                    <td>描述:{{api[select[select.length-1]].description}}</td>
                                                </tr>
                                                <tr ng-repeat="x in api[select[select.length-1]].params">
                                                    <td>参数</td>
                                                    <td>参数变量名: <input type="text" ng-value="x.name" disabled="disabled" name="p_name[]"> --&gt;{{x.title}}</td>
                                                    <td>参数变量值: <input type="text" ng-value="x.example" name="{{x.name}}"></td>
                                                    <td ng-if="x.required==1">必填:{{x.description}}</td>
                                                    <td ng-if="x.required!=1">选填:{{x.description}}</td>
                                                </tr>
                                            </table>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <div ng-include="'/http/admin/public/right.html'"></div>
    </div>
</div>


