<div class="skin-blue sidebar-mini" ng-class="{'sidebar-collapse':left_hidden}">
    <div class="wrapper">
        <div ng-include="'/http/admin/public/header.html'"></div>
        <div ng-include="'/http/admin/public/left.html'"></div>
        <div class="content-wrapper">
            <div ng-include="'/http/admin/public/nav.html'"></div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border" style="text-align: center">
                                <h1>欢迎使用代码生成工具</h1>
                            </div>
                            <div class="box-body">
                                <div class="row"  ng-controller="admin-create-codeCtrl">
                                    <div class="col-md-12" bs-tabs>
                                        <div data-title="代码创建" name="代码创建" bs-pane>
                                            <div>
                                                <div class="box-body">
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <th >创建命令</th>
                                                            <th>中文名称</th>
                                                            <th>参数</th>
                                                            <th>操作</th>
                                                            <th>描述</th>
                                                        </tr>
                                                        <tr>
                                                            <td>make:controller</td>
                                                            <td>创建控制器</td>
                                                            <td>
                                                                <input name="c_name" ng-init="c_name='Admin/TestController'" ng-model="c_name"  placeholder="请填写控制器名称">->控制器
                                                            </td>
                                                            <td><button ng-click="create({'artisan':'make:controller','name':c_name})">创建</button></td>
                                                            <td>创建一个新的控制器</td>
                                                        </tr>
                                                        <tr>
                                                            <td>make:model</td>
                                                            <td>创建模型</td>
                                                            <td>
                                                                <input name="m_name" ng-init="m_name='Models/Test'" ng-model="m_name"  placeholder="请填写模型名称">->模型
                                                            </td>
                                                            <td><button ng-click="create({'artisan':'make:model','name':m_name})">创建</button></td>
                                                            <td>创建一个新的模型</td>
                                                        </tr>
                                                        <tr>
                                                            <td>make:console</td>
                                                            <td>创建artisan命令</td>
                                                            <td>
                                                                <input name="at_name" ng-init="at_name='Test'" ng-model="at_name"  placeholder="请填写命令名称">->文件名
                                                            </td>
                                                            <td><button ng-click="create({'artisan':'make:console','name':at_name})">创建</button></td>
                                                            <td>创建一个artisan命令</td>
                                                        </tr>
                                                        <tr>
                                                            <td>make:migration</td>
                                                            <td>创建迁移文件</td>
                                                            <td>
                                                                <input name="mi_name" ng-init="mi_name='create_tests_table'" ng-model="mi_name"  placeholder="请填写迁移文件名称">->文件名<br />
                                                                <input name="mi_table"  ng-init="mi_table='tests'" ng-model="mi_table"  placeholder="数据表名">->数据表
                                                            </td>
                                                            <td><button ng-click="create({'artisan':'make:migration','name':mi_name,'--table':mi_table})">创建</button></td>
                                                            <td>创建一个创建迁移文件</td>
                                                        </tr>
                                                        <tr>
                                                            <td>make:seeder</td>
                                                            <td>创建数据填充文件</td>
                                                            <td>
                                                                <input name="s_name" ng-init="s_name='TestTableSeeder'" ng-model="s_name"  placeholder="请填写填充文件名称">->文件名<br />
                                                            </td>
                                                            <td><button ng-click="create({'artisan':'make:seeder','name':s_name})">创建</button></td>
                                                            <td>创建一个数据填充文件</td>
                                                        </tr>
                                                        <tr>
                                                            <td>make:auth</td>
                                                            <td>创建用户认证</td>
                                                            <td>无</td>
                                                            <td><button disabled>创建</button></td>
                                                            <td>创建最基础的用户认证,包括认证相关路由,视图,数据表等</td>
                                                        </tr>
                                                    </table>
                                                </div><!-- /.box-body -->
                                            </div><!-- /.box -->
                                        </div>
                                        <div data-title="数据迁移与填充" name="数据迁移与填充" bs-pane>
                                            <table class="table table-hover table-bordered">
                                                <tr>
                                                    <th>创建名称</th>
                                                    <th>创建选项</th>
                                                    <th>创建按钮</th>
                                                    <th>创建说明</th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <div ng-include="'/http/admin/public/right.html'"></div>
    </div>
</div>


