<div class="skin-blue sidebar-mini" ng-class="{'sidebar-collapse':left_hidden}">
    <div class="wrapper">
        <div ng-include="'/http/admin/public/header.html'"></div>
        <div ng-include="'/http/admin/public/left.html'"></div>
        <div style="min-height: 715px;" class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div ng-include="'/http/admin/public/nav.html'"></div>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-primary" ng-controller="admin-profile-infoCtrl">
                            <div class="box-header">
                                <h3 class="box-title" ng-if="row.id">修改</h3>
                                <h3 class="box-title" ng-if="!row.id">新增</h3>
                                <div class="box-tools">
                                    <button class="btn btn-default btn-sm" title="刷新"
                                            ng-click="getData($this,{refresh:1})">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <form role="form"  action="/data/admin/profile/edit" method="post" ng-init="data_url='/data/admin/profile/edit/'+row.id;edit_url='/data/admin/profile/edit';back_url='/admin/profile/index'">
                                                                            <div class="form-group row">
                                            <div class="col-xs-2">
                                            </div>
                                            <div class="col-xs-3">
                                                <input name="id" value="{{row.id}}" type="hidden">
                                                <button class="btn btn-info" type="button" ng-click="submit()">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                    提交
                                                </button>

                                                &nbsp; &nbsp; &nbsp;
                                                <button class="btn" type="button" ng-click="resetdata()">
                                                    <i class="glyphicon glyphicon-repeat"></i>
                                                    重置
                                                </button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <div ng-include="'/http/admin/public/right.html'"></div>
    </div>
</div>


